build
./contracts
data
data_previous
db
node_modules
pipeline/wallet
sign
cxip_mnemonic
cxip_priv_key
gas
keys.json
live_mnemonic
live_priv_key
local_mnemonic
local_priv_key
mnemonic
.mnemonic
network
priv_key

.env.dev
.env.prod
.env.*
.env

dist
cache
artifacts
typechain

coverage
coverage.json

.idea
.DS_Store

deployment_assets